layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="status-bar"
        }
    }

    tab name="editor" focus=true {
        pane split_direction="vertical" {
            pane split_direction="horizontal" {
                pane focus=true name="Editor" {
                    command "hx"
                }
                pane size="40%" name=""
            }
            pane size="30%" name=""
        }
    }
}
